<h1>Data Pemilik EKTP</h1>
<p>&nbsp;</p>
<table id="sTable" class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Create Date</th>
    <th>Issued By</th>
    <th>NIK</th>
    <th>Nama</th>
    <th>Tempat/Tanggal Lahir</th>
    <th>Jenis Kelamin</th>
    <th>Gol Darah</th>
    <th style="width: 200px;">Alamat</th>
    <th>Agama</th>
    <th>Status</th>
    <th>Pekerjaan</th>
    <th>Kewarganegaraan</th>
    <th>Masa Berlaku</th>
    <th>Biometric</th>
    <th>Foto</th>
    <th>TTD</th>
  </tr>
</thead>
<tbody>
{{#each data}}


  <tr>
    <td>{{ created_date }}</td>
    <td>{{ fullname }}</td>
    <td>{{ nik }}</td>
    <td>{{ nama_lkp }}</td>
    <td>{{ tmpt_lhr }},{{ tgl_lhr }} </td>
    <td>{{ jenis_klmin }}</td>
    <td>{{ gol_darah }}</td>
    <td style="width: 200px;">{{ alamat }}</br>RT/RW : {{ no_rt }}/{{ no_rw }}</br>Kel: {{ kel_name }}</br>Kec: {{ kec_name }}</br>Kab: {{ kab_name }} - {{ prop_name }}</td>
    <td>{{ agama }}</td>
    <td>{{ status_kawin }}</td>
    <td>{{ jenis_pkrjn }}</td>
    <td>{{ kewarganegaraan }}</td>
    <td>Seumur Hidup</td>
    <td><img src="data:image/png;base64,{{ biometric }}"></td>
    <td><img src="data:image/png;base64,{{ foto }}"></td>
    <td><img src="data:image/png;base64,{{ ttd }}"></td>
  </tr>
{{/each}}
</tbody>
</table>

