<h1>Data Pemilik EKTP</h1>
<p>&nbsp;</p>
<table id="sTable" class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Create Date</th>
    <th>Issued By</th>
    <th>NIK</th>
    <th>Nama</th>
    <th>Tempat/Tanggal Lahir</th>
    <th>Jenis Kelamin</th>
    <th>Gol Darah</th>
    <th style="width: 200px;">Alamat</th>
    <th>Agama</th>
    <th>Status</th>
    <th>Pekerjaan</th>
    <th>Kewarganegaraan</th>
    <th>Masa Berlaku</th>
    <th>Biometric</th>
    <th>Foto</th>
    <th>TTD</th>
  </tr>
</thead>
<tbody>
{{#each data}}


  <tr>
    <td>{{ create_date }}</td>
    <td>{{ issued_by }}</td>
    <td>{{ nik }}</td>
    <td>{{ nama }}</td>
    <td>{{ tmp_lahir }},{{ tgl_lahir }} </td>
    <td>{{ jns_kelamin }}</td>
    <td>{{ gol_darah }}</td>
    <td style="width: 200px;">{{ alamat }}</br>RT/RW : {{ rt }}/{{ rw }}</br>Kel: {{ kel }}</br>Kec: {{ kec }}</br>Kab: {{ kab }} - {{ prov }}</td>
    <td>{{ agama }}</td>
    <td>{{ status }}</td>
    <td>{{ pekerjaan }}</td>
    <td>{{ kewarganegaraan }}</td>
    <td>Seumur Hidup</td>
    <td><img src="data:image/png;base64,{{ biometric }}"></td>
    <td><img src="data:image/png;base64,{{ foto }}"></td>
    <td><img src="data:image/png;base64,{{ ttd }}"></td>
  </tr>
{{/each}}
</tbody>
</table>

